ServerTest/.vs/
ServerTest/Client/Debug/
ServerTest/Client/x64/
ServerTest/Server/Debug/
ServerTest/Server/x64/
ServerTest/Bin/

Server_Lib/.vs/
Server_Lib/DummyClient/Debug/
Server_Lib/DummyClient/x64/
Server_Lib/Server/Debug/
Server_Lib/Server/x64/
Server_Lib/ServerCore/Debug/
Server_Lib/ServerCore/x64/
Server_Lib/Bin/
Server_Lib/Lib/

Server_dotnet/.vs/
Server_dotnet/DummyClient/obj/
Server_dotnet/Server_dotnet/obj/
Server_dotnet/ServerCore/obj/
Server_dotnet/Network/obj/
Server_dotnet/Network/bin/
Server_dotnet/Bin/
Server_dotnet/Lib/
Server_dotnet/Network/network_local.bat

ServerGrpc/.vs/
ServerGrpc/ClientGrpc/obj/
ServerGrpc/ClientGrpc/bin/
ServerGrpc/ClientGrpc/Protos/
ServerGrpc/ServerGrpc/obj/
ServerGrpc/ServerGrpc/bin/
ServerGrpc/ServerGrpc/Protos/
ServerGrpc/DataManager/obj/
ServerGrpc/DataManager/bin/
