Server/.vs/
Server/Client/Debug/
Server/Client/Debug/Client.tlog/
Server/Server/Debug/
Server/Debug/
Game/LoginServer/.vs/
Game/LoginServer/Debug/
Game/LoginServer/x64/
Game/LoginServer/LoginServer/Debug/
Game/LoginServer/LoginServer/x64/
/.vs
/Server/Client/x64/Debug
/Server/Server/x64/Debug
